body {
  font-family: poppins;
  color: #6C6C6C;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  background-color: #fafafa;
}
.nav-bar {
  width: 100vw;
  display: flex;
  height: 8vh;
  justify-content: center;
  position: sticky;
  max-height: 50px;
}

.social-media {
  background-color: rgba(0,0,0,0);
}
h3 {
  font-family: poppins;
  color: #6C6C6C;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

p {
   font-family: poppins;
  color: #6C6C6C;
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
  text-align: center;
}

a {
  color : #C4CAD0;
  text-decoration: none
}

a:hover{
  color : #6C6C6C;
}


.photo-film {
  width: 100px;
  padding-right: 40px;
  padding-top: 10px;
  vertical-align: top;
}

ul{
  padding: 0px;
}
.card {
  background-color: #FFF;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #999;
  border-radius: 4px;
}


.film-text{
  text-align: justify;
  }




/*Media queries*/


@media screen and (min-width: 500px) {
  .container-infos {
    padding-top: 5rem;
  }
  .titre-2: {
    margin-top: 60px;
  }
  .personal-skills {
    margin-bottom: 50px;
    }
  .margin-container-title {
    margin-top: 50px;
  }
}

@media screen and (min-width: 900px) {
    .titre-2 {
    margin-top: 5%;
  }
}

@media screen and (min-width: 1200px) {
  /* For a screen < 960px, this CSS will be read */
  .download {
    min-width: 224px;
  }
   .container-infos {
  width: 64%;
  margin-left: 32%;
  margin-right: 32%;
  }
  .container-infos {
    padding-top: 6rem;
    height: 88vh;
  }
  .card-about-me {
    flex-direction: column;
  }
   .titre-2 {
    margin-top: 2%;
  }
   .card-basic {
    min-height: 750px;
  }
}

@media screen and (min-width: 1400px) {
  .card-about-me {
  }
}

/* ---- MAX WIDTH ---- */

@media all and (max-width: 500px) {
  .card-about-me {
    flex-direction: column;
    }
}


@media all and (max-width: 720px) {
  .card-about-me {
  justify-content: space-around;
  }

}

@media screen and (max-width: 960px) {
   .bio {
    flex: 1 100%;
  }
  .personal-infos {
    flex: 1 100%;
  }
}

@media screen and (max-width: 1200px){
 .bio {
    flex: 1 100%;
  }
  .personal-infos {
    flex: 1 100%;
  }
   .container-infos {
    padding-top: 4rem;
  }

}
